.setting-top {
  margin-top: 35px;
  .setting-title-wrapper {
    position: relative;
    margin: 10px 20px;
    height: 35px;
    cursor: pointer;
    .setting-title {
      font-weight: 600;
      font-size: 18px;

      transition: color 0.2s ease;
      &:hover {
        color: rgb(1, 1, 34);
        transition: color 0.2s ease;
        color: #e2e8f098;
      }
    }
    @media (max-width: 400px) {
      .setting-title {
        font-size: 14px;
      }
    }
    .underline {
      margin-top: 20px;
      height: 2px;
      width: 0%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: black;
      transition: width 0.4s ease-in-out;
    }
    .underline-growth {
      width: 100%;
      transition: width 0.4s ease-in-out;
    }
  }
}
